@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto:wght@400;700&family=Sacramento&display=swap');


/* Lowest priority, apply to all element. */
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    margin: 0 auto;
    position: relative;
}

body {
    font-family: sans-serif;
    color: #444444;
    /* margin: 0px; NOT WORKING AS EXPECTED */
    /* position: relative; */
}

nav {
    font-size: 18px;
}

article {
    margin-bottom: 60px;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
    height: 80px;
}

.post-header {
    margin-bottom: 40px;
    /* position: relative; */
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 0;
    width: 500px;
}


h1, h2, h3 {
    color: #1098ad;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
    /* margin can be collapsing */
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
    /* margin can be collapsing */
}

ul, ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

/* footer p {
    font-size: 16px;
} */

/* article header p {
    font-style: italic;
} */

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}



/* .first-li {
    font-weight: bold;
} */

li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

/* li:nth-child(3) {
    color: red;
} */

li:nth-child(odd) {
    color: red;
}

/* It's not working because p is not first child of the article */
/* article p:first-child {
    color: red;
} */

/* article p:first-of-type {
    color: red;
}

article p:last-child {
    color: red;
} */

/* target a element that have href attribute */
a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    /* color: #777; */
    color: #1098ad;
}

a:hover {
    color: yellow;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}

/* LVHA */

.post-img {
    width: 100%;
    height: auto;
}

nav a:link {
    display: inline;
    margin-right: 30px;
    margin-top: 10px;
}

nav a:link:last-child {
    margin-right: 0;
}

button {
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    right: 50px;
}


h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

h3+p::first-line {
    color: red;
}

h2 {
    position: relative;
}

h2::after {
    content: "TOP";
    background-color: #ffe70e;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: -25px;
    color: #000;
}

/* ---------Resolving Conflict-------- */


#copyright {
    color: red;
}

.copyright {
    color: blue;
}

.text {
    color: yellow;
}

footer p {
    color: green;
}

/* -------------Inheritance------------- */

/* nav a:link, nav p {
    font-size: 18px;
} */